---
import Layout from '../layouts/layout.astro'
import { getCollection } from 'astro:content'

const allBlogPosts = await getCollection('blog')
---
<Layout title="Articles">
	<h1>Astro</h1>
	<ul>
		{
			allBlogPosts.map(blogPost => (
				<li>
					<a href={'/blog/' + blogPost.slug}> {blogPost.data.title} </a>					
				</li>		
			))
		}
	</ul>	
</Layout>

